* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
  width: 90%;
}
.PodcastImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 50%;
  max-height: 585px;
  max-width: 585px;
  overflow: hidden;
}
.podcastImageImg {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.PodcastList {
  height: 90%;
  width: 50%;
  max-height: 500px;
  max-width: 500px;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 5%;
}
.PodcastListTitle {
  width: 80%;
  text-align: left;
}
.PodcastListItem {
  width: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.PodcastListItem:hover,
.PodcastListItem:focus {
  cursor: pointer;
  text-decoration: underline;
}
.PodcastListItemCheckbox {
  height: 30px;
  width: 30px;
}
.PodcastListItemText {
  padding-left: 10px;
}
@media (max-width: 1100px) {
  .CardContainer {
    flex-direction: column;
  }
}
