@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 1100px;
  font-family: "Nunito Sans";
}
.PodcastImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  width: 585px;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: SlideToLeft;
  z-index: 2;
  filter: drop-shadow(0px 5.40459px 32.4276px #453f3f);
}
.PodcastImageImg {
  height: auto;
}
.PodcastList {
  height: 90%;
  width: 50%;
  max-height: 500px;
  max-width: 500px;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 3% 0px 1% 5%;
  animation-duration: 1s;
  animation-name: SlideToRigth;
  z-index: 1;
}
.PodcastListTitle {
  width: 80%;
  text-align: left;
  color: #a7a7a7;
  font-size: 13px;
}
.PodcastListItemUnchecked {
  width: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #4e4e4e;
}
.PodcastListItemChecked {
  width: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #c9cdd1;
}
.PodcastListItemUnchecked:hover,
.PodcastListItemUnchecked:focus,
.PodcastListItemChecked:hover,
.PodcastListItemChecked:focus {
  cursor: pointer;
  text-decoration: underline;
}
.PodcastListItemCheckbox {
  height: 30px;
  width: 30px;
}
.PodcastListItemText {
  padding-left: 10px;
  font-size: 15px;
}
@media (max-width: 1100px) {
  .CardContainer {
    flex-direction: column;
  }
  .PodcastImage {
    max-height: 50%;
    width: auto;
    height: 500px;
    width: 500px;
    animation-name: SlideToTop;
    overflow: visible;
  }
  .PodcastImageImg {
    max-height: 100%;
    width: auto;
  }
  .PodcastList {
    height: 50%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    border-radius: 0px 0px 25px 25px;
    padding: 30px 0px 7px 45px;
    animation-name: SlideToBottom;
  }
  .PodcastListItemCheckbox {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 600px) {
  .PodcastImage {
    height: 350px;
    width: 350px;
  }
  .PodcastList {
    max-height: 310px;
    max-width: 310px;
    border-radius: 0px 0px 20px 20px;
    padding: 25px 0px 4px 30px;
  }
  .PodcastListTitle {
    font-size: 10px;
  }
  .PodcastListItemText {
    padding-left: 10px;
    font-size: 12px;
  }
  .PodcastListItemCheckbox {
    height: 20px;
    width: 20px;
  }
}
@keyframes SlideToLeft {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes SlideToRigth {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes SlideToTop {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes SlideToBottom {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
